<html>

<head>
  <title>JQVMap - World Map</title>
  <link href="maps/jqvmap.css" media="screen" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Cinzel|Courgette" rel="stylesheet">
  <link href="styles/styles.css" media="screen" rel="stylesheet" type="text/css">

  <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="maps/jquery.vmap.js"></script>
  <script type="text/javascript" src="maps/maps/jquery.vmap.world.js" charset="utf-8"></script>
  <script type="text/javascript" src="maps/maps/continents/jquery.vmap.africa.js" charset="utf-8"></script>
  <script type="text/javascript" src="maps/maps/continents/jquery.vmap.asia.js" charset="utf-8"></script>
  <script type="text/javascript" src="maps/maps/continents/jquery.vmap.australia.js" charset="utf-8"></script>
  <script type="text/javascript" src="maps/maps/continents/jquery.vmap.europe.js" charset="utf-8"></script>
  <script type="text/javascript" src="maps/maps/continents/jquery.vmap.north-america.js" charset="utf-8"></script>
  <script type="text/javascript" src="maps/maps/continents/jquery.vmap.south-america.js" charset="utf-8"></script>


  <script type="text/javascript">
    jQuery(document).ready(function () {

      jQuery('#vmap').vectorMap(
        {
          map: 'world_en',
          backgroundColor: '#a5bfdd',
          borderColor: '#818181',
          borderOpacity: 0.25,
          borderWidth: 1,
          backgroundColor: '#333333',
          color: '#ffffff',
          enableZoom: true,
          hoverColor: '#c9dfaf',
          hoverOpacity: 0.7,
          normalizeFunction: 'polynomial',
          scaleColors: ['#C8EEFF', '#006491'],
          selectedColor: '#666666',
          selectedRegions: null,
          showTooltip: true,
          onRegionClick: function (element, code, region) {
            var message = 'You clicked "'
              + region
              + '" which has the code: '
              + code.toUpperCase();

            alert(message);
          }
        });
    });
  </script>
</head>

<body>

  <div class="wrapper col-2">
    <!-- Sidebar -->
    <nav id="sidebar">
      <div class="sidebar-header pl-4">
        <h3 class="titleLogo">$afe Travel$</h3>
      </div>

      <ul class="list-unstyled components pl-4">
        <br>
        <p>
          <a href="#homeSubmenu" class="navMap">Map</a>

          <p>
            <a href="#homeSubmenu" class="navTrip">Trip</a>

            <p class="navBank">
              <a href="#homeSubmenu" class="navBank">Bank</a>
      </ul>
    </nav>

    <!-- Page Content -->
    <div id="content">

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

          <button type="button" id="sidebarCollapse" class="btn btn-info">
            <i class="fas fa-align-left"></i>
            <span>Toggle Sidebar</span>
          </button>
        </div>
      </nav>
    </div>
  </div>
  <!--
{{{body}}}
-->

</body>



<!-- jQuery CDN - Slim version (=without AJAX) -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"></script>
<!-- Popper.JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
  crossorigin="anonymous"></script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
  crossorigin="anonymous"></script>
<!-- jQuery Custom Scroller CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

</html>