<html>

<head>
  <title>JQVMap - World Map</title>
  <link href="/maps/jqvmap.css" media="screen" rel="stylesheet" type="text/css">

  <link rel="stylesheet" href="maps/animate.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link href="/styles/styles.css" media="screen" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />


  <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
  <script type="text/javascript" src="maps/jquery.vmap.js"></script>
  <script type="text/javascript" src="maps/maps/jquery.vmap.world.js" charset="utf-8"></script>



</head>

<body>
  <div id="vmap"></div>


  <div id="ex1" class="modal">
    <div class="dataContainer container">
      <div class="row">
        <div class="col-4">
          <h1 class="infoName display-1"></h1>
        </div>
        <div class="col-8">
          <ul>
            <li class="cat1">

            </li>
            <li class="cat2">

            </li>
            <li class="cat3">

            </li>
            <li class="cat4">

            </li>
            <li class="cat5">

            </li>
            <li class="cat6">

            </li>
            <li class="cat7">

            </li>
            <li class="cat8">

            </li>
            <li class="cat9">

            </li>
            <li class="cat10">

            </li>
            <li class="cat11">

            </li>
            <li class="cat12">

            </li>
            <li class="cat13">

            </li>

          </ul>
        </div>
      </div>

    </div>

    <a href="#" rel="modal:close">Close</a>
  </div>


  <!-- Link to open the modal -->
  <p>
    <a href="#ex1" rel="modal:open">Open Modal</a>
  </p>







  <script type="text/javascript" src="/js/map.js"></script>
  <script>

  </script>
</body>

</html>