<html>

<head>
  <title>JQVMap - World Map</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous">
  <link href="/maps/jqvmap.css" media="screen" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <link href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

  <link rel="stylesheet" href="styles/styles.css" />
  <link href="https://fonts.googleapis.com/css?family=Cinzel|Courgette" rel="stylesheet">
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
  <script type="text/javascript" src="maps/jquery.vmap.js"></script>
  <script type="text/javascript" src="maps/maps/jquery.vmap.world.js" charset="utf-8"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>




</head>

<body>
  
  <div class="container-fluid toggleBackground">
    <div class="mainContent">


      <div id="vmap" class=""></div>


      <div id="ex1" class="modal-lg modal-country" style="display: none">
        <div class="dataContainer">
          <div class="row mt-5 m-3">
            <div class="col-12">
              <h1 class="infoName display-1"></h1>
            </div>
          </div>
          <div class="row justify-content-between">
            <div class="col-12 mb-5">
              <ul class="card-ul mt-5">
                <li class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                  <div class="card-header text-left">
                    <h6 class="">Accomodation</h6>

                    <span class="card-text">Hotel or hostel for one person</span>
                  </div>
                  <h6 class="cat0 float-right value"></h6>

                </li>
                <li class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                  <div class="card-header text-left">
                    <h6 class="">Intercity Transportation</h6>

                    <span class="card-text">Travel between cities</span>
                  </div>
                  <h6 class="cat1 float-right value"></h6>

                </li>
                <li class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                  <div class="card-header text-left">
                    <h6 class="">Local Transportation</h6>

                    <span class="card-text">Taxis, local buses, subway, etc.</span>
                  </div>
                  <h6 class="cat2 float-right value"></h6>
                </li>
                <li class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                  <div class="card-header text-left">
                    <h6 class="">Food</h6>

                    <span class="card-text">Meals for one day</span>
                  </div>
                  <h6 class="cat3 float-right value"></h6>
                </li>
                <li class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                  <div class="card-header text-left">
                    <h6 class="">Water</h6>

                    <span class="card-text">Bottled water for one day</span>
                  </div>
                  <h6 class="cat4 float-right value"></h6>
                </li>
                <li class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                  <div class="card-header text-left">
                    <h6 class="">Entertainment</h6>

                    <span class="card-text">Entrance tickets, shows, etc.</span>
                  </div>
                  <h6 class="cat5 float-right value"></h6>

                </li>
                <li class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                  <div class="card-header text-left">
                    <h6 class="">Souvenir</h6>

                    <span class="card-text">All purchases from gifts to personal keepsakes.</span>
                  </div>
                  <h6 class="cat6 float-right value"></h6>

                </li>
                <li class="card text-white bg-dark mb-3" style="max-width: 18rem;">

                  <div class="card-header text-left">
                    <h6 class="">Communication</h6>

                    <span class="card-text">Phone calls, internet access, or postage for one day's time.</span>
                  </div>
                  <h6 class="cat7 float-right value"></h6>
                </li>
                <li class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                  <div class="card-header text-left">
                    <h6 class="">Living Expenses</h6>

                    <span class="card-text">Personal purchases from shampoo to laundry. Costs are for one day's time.</span>
                  </div>
                  <h6 class="cat8 float-right value"></h6>
                </li>
                <li class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                  <div class="card-header text-left">
                    <h6 class="">Visas</h6>

                    <span class="card-text">Required entry and exit fees.</span>
                  </div>
                  <h6 class="cat9 float-right value"></h6>
                </li>
                <!-- <li class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                    <div class="card-header text-left">
                        <h6 class="">Scams, Robberies, and Mishaps</h6>
    
                        <span class="card-text">It happens to everyone! You may as well fess up now.</span>
                      </div>
                  <h6 class="cat10 float-right value"></h6>
                </li> -->
                <li class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                  <div class="card-header text-left">
                    <h6 class="">Alcohol</h6>

                    <span class="card-text">Drinks imbibed, from bar hopping to wine country.</span>
                  </div>
                  <h6 class="cat11 float-right value"></h6>
                </li>
                <li class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                  <div class="card-header text-left">
                    <h6 class="">Average Daily Cost</h6>
                  </div>
                  <h6 class="cat12 float-right value"></h6>
                </li>

              </ul>
            </div>
          </div>
        </div>



        <a href="#" rel="modal:close" class="float-right close-button btn btn-secondary">Close</a>
        <button id="addtrip" class="addtrip-button btn btn-warning text-white">Add Trip</button>


      </div>

    </div>
  </div>
  </div>

  <div class="container ">
    <div class="row h-100">
      <div class="modal formModal modal-lg formContainer" style="display: none">
        <div class="bankForm float-left">

          <h1 class="bankForm-question display-2">What are your travel dates?</h1>

          <div id="sandbox-container" class="ml-5">
            <input type="text" name="datefilter" value="" />

          </div>


        </div>
      </div>
    </div>
  </div>

  
  <!-- Sidebar -->

  <div class="wrapper text-center">
    <nav id="sidebar">
      
      <div class="sidebar-header">
        <h3 class="titleLogo"></h3>
      </div>

      <div id="content" class="list-unstyled components mx-auto">
        <br>
        <br>

        <a class="navbar-brand navMap" href="#"><br>Map</a>

        <a class="navbar-brand navBank" href="#"><br>Bank</a>

        <a class="navbar-brand  navTrip" href="#"><br>Trip</a>

        

      </div>

    </nav>

  
    <button type="button" id="sidebarCollapse" class="btn btn-info col-ml-2">
        <i class="fas fa-align-left"></i>
        <span>Menu</span>
    </button>
  
 

  </div>






  <script type="text/javascript" src="/js/map.js"></script>
  <script>

    $(function () {

      $('input[name="datefilter"]').daterangepicker({
        autoUpdateInput: false,
        locale: {
          cancelLabel: 'Clear'
        }
      });

      $('input[name="datefilter"]').on('apply.daterangepicker', function (ev, picker) {
        $(this).val(picker.startDate.format('MM/DD/YYYY') + ' - ' + picker.endDate.format('MM/DD/YYYY'));
      });

      $('input[name="datefilter"]').on('cancel.daterangepicker', function (ev, picker) {
        $(this).val('');
      });
      $('#demo').daterangepicker({
        "startDate": "11/21/2018",
        "endDate": "11/27/2018",
        "drops": "up"
      }, function (start, end, label) {
        console.log('New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')');
      });

    });


  </script>
</body>

</html>