<html>

<head>
  <title>JQVMap - World Map</title>
  <link rel="stylesheet" href="maps/animate.min.css">
  <link href="/maps/jqvmap.css" media="screen" rel="stylesheet" type="text/css">
  <link href="/styles/styles.css" media="screen" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />


  <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
  <script type="text/javascript" src="maps/jquery.vmap.js"></script>
  <script type="text/javascript" src="maps/maps/jquery.vmap.world.js" charset="utf-8"></script>



</head>

<body>
  <div id="vmap"></div>
  

  <div id="ex1" class="modal">
      
      <a href="#" rel="modal:close">Close</a>
    </div>
    
    <!-- Link to open the modal -->
    <p><a href="#ex1" rel="modal:open">Open Modal</a></p>







  <script type="text/javascript" src="/js/map.js"></script>
  <script>

  </script>
</body>

</html>